# ℹ️ Is the apache rewrite module installed on the server?
<IfModule mod_rewrite.c>
    # ℹ️ Now that the rewrite module is installed, activate the redirect engine.
    RewriteEngine on

    # ℹ️ In cases where the requests to the http server are not a folder, let's remove the "/" sign automatically.
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # ℹ️ Since public is not set as the main directory in shared hosting, all requests are run from the public directory.
    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
