# ℹ️ Is the apache rewrite module installed on the server?
<IfModule mod_rewrite.c>
    # ℹ️ Is the apache negotiation module installed on the server?
    <IfModule mod_negotiation.c>
        # ℹ️ Evaluate requests coming to the http server with multiview and index options.
        Options -MultiViews -Indexes
    </IfModule>

    # ℹ️ Now that the rewrite module is installed, activate the redirect engine.
    RewriteEngine On

    # ℹ️ Include authorization header in redirect condition with given rule.
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # ℹ️ In cases where the requests to the http server are not a folder, let's remove the "/" sign automatically.
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # ℹ️ Send requests coming from http server to Larawise controller and have it processed.
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# ℹ️ Is the gzip module installed on the http server?
<ifmodule mod_deflate.c>
    # ℹ️ Set file mime types to be compressed.
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>

# ℹ️ Is the expires module installed on the http server?
<IfModule mod_expires.c>
    # ℹ️ Enable limiting the amount of time information will be kept in the cache.
    ExpiresActive On

    # ℹ️ Calculate cache retention times for file mime types.
    ExpiresByType image/gif "access plus 1 weeks"
    ExpiresByType image/svg "access plus 1 weeks"
    ExpiresByType image/jpg "access plus 1 weeks"
    ExpiresByType image/jpeg "access plus 1 weeks"
    ExpiresByType image/png "access plus 1 weeks"
    ExpiresByType image/bmp "access plus 1 weeks"
    ExpiresByType text/css "access plus 1 weeks"
    ExpiresByType application/javascript "access plus 1 weeks"
    ExpiresByType application/x-javascript "access plus 1 weeks"
    ExpiresByType text/javascript "access plus 1 weeks"
</IfModule>

# ℹ️ Is the headers module installed on the http server?
<IfModule mod_headers.c>
    # ℹ️ Set the maximum number of requests and timeout.
    Header set Connection keep-alive
</IfModule>
